@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body {
  margin: 0;
  text-align: center;
  background-image:url(./images/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

a {
  color: #faf9f6;
  text-decoration: none;
}

a:hover {
  color: #eabfb9;
}

.nav-item {
  text-align: center;
  padding-top: 50px;
}

.nav-link {
  margin: 35px;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #eabfb9;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.navbar-container {
  display: inline-block;
  list-style-type: none;
}

.project:hover {
  color: #000000;
  transform: scale(.95);
  transition-property: opacity, left;
  transition-duration: 3s, 5s, 2s, 1s;
}

.grid .project {
    min-height: 10vw;
    min-width: 10vw;
    margin: 10px;
    padding: 20px 20px;
    background-color: #eabfb9;
    opacity: 85%;
    border-radius: 2px;
    box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;

}

ul {
      display: flex;
      margin: 0;
      text-align: center;
  }
  
li {
      list-style-type:none;
      padding-left: 5px;
      padding-right: 20px;
  }

section, .contact {
      padding: 4% 6%;
  }

.container h1, footer h2 {
      font-size: 3em;
  }
.portfolio {
      background-color: #eee;
  }

.portfolio .container {
      display: flex;
      flex-direction: column;
  }

.grid {
      text-align: center;
      display: grid;
      grid-template-columns: auto auto auto;
  }

.grid a {
      text-decoration: none;
      color: #fff;
  }
  
  @media (max-width: 768px) {
      .about {
          margin-top: 100px;
      }
  
      header ul {
          padding: 0;
      }
  
      header li {
          padding-right: 0;
      }
  }