@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body {
  margin: 0;
  text-align: center;
  display: table;
  background-image:url(./images/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #fff;
}

.avatar-bio {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #faf9f6;
  text-decoration: none;
}

a:hover {
  color: #eabfb9;
}

nav {
  text-align: center;
  padding-top: 500px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 0 20px;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
}

span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: #eabfb9;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

/* BREAK HERE */
.project:hover {
  transform: scale(1.02);
}

.grid .project {
  min-height: 10vw;
  margin: 10px;
  /* padding: 40px 10px; */
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
}
  
  .header  {
      display: inline-block;
      padding: 20px;
      width: 100%;
      background-color: black;
      color: whitesmoke;
      position: fixed;
      left: 0;
      top: 0;
      right: 0;
      z-index: 5;
  }
  .header .container {
      display: flex;
  }
  .myname {
      font-weight: bold;
  }
  ul {
      display: flex;
      margin: 0;
      text-align: center;
  }
  li {
      list-style-type:none;
      padding-left: 5px;
      padding-right: 20px;
  
  }

  section, .contact {
      padding: 6%;
  }
  .container h1, footer h2 {
      font-size: 3em;
  }
  .portfolio {
      background-color: #eee;
  }
  .portfolio .container {
      display: flex;
      flex-direction: column;
      
  }
  .grid {
      display: grid;
      grid-template-columns: 8ch auto;
  }

  .grid a {
      text-decoration: none;
      color: black;
  }
  .project:hover {
      transform: scale(1.02);
  }
  .project svg {
      height: 5vw;
      width: 5vw;
  }
  .grid .project {
      min-height: 10vw;
      border: 1px solid white;
      margin: 10px;
      padding: 40px 10px;
      background-color: white;
      border-radius: 8px;
      box-shadow: rgb(17 12 46 / 15%) 0px 48px 100px 0px;
  
  }
  .about {
      margin-top: 58px;
  }
  .about h2 {
      font-size: 3.5em;
  }
  .about h4 {
      font-size: 1.2em;
      font-weight: 500;
  }
  .about img {
      width: 20vw;
      height: 20vw;
  }
  footer h3, h4 {
      font-weight: 500;
  }
  
  @media (max-width: 768px) {
      .about {
          margin-top: 100px;
      }
  
      .myname {
          display: none;
      }
  
      header ul {
          padding: 0;
      }
  
      header li {
          padding-right: 0;
      }
  }